* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased !important;
    -moz-webkit-font-smoothing:antialiased !important;
}
body {
    background-color: #0F1014;
    font-family: "freight-text-pro";
    color: #fff;
    transition: opacity 500ms ease-in;
}

/* ----- Global styles ----- */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

.lakeside {
    font-family: "lakeside";
}

blockquote {
    margin: 16px 0 0 0;
}

hr {
    border: none;
    border-top: 1px solid #666;
    margin: 64px 48px;
}
@media all and (min-width: 640px) {
    hr {
        display: none;
    }
}

.opacity {
    opacity: 0;
}

section {
    margin-top: 64px;
    &:first-child {
        margin-top: 0;
    }
}

/* ----- Landing ----- */
.landing {
    height: 100vh;
    background: -webkit-linear-gradient(-45deg, #3d597d 0%, #2d2e5f 100%);
    background: -moz-linear-gradient(-45deg, #3d597d 0%, #2d2e5f 100%);
    background: linear-gradient(135deg, #3d597d 0%, #2d2e5f 100%);
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;

    /* .menu {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: 24px;
        top: 24px;
        padding: 4px;
        overflow: hidden;
        color: #fff;
        text-align: center;

        i {
            font-size: 32px;
            line-height: 40px;
            opacity: 0;
            transition: transform 200ms;
            transform: scale(0.2);
            position: absolute;

            &.active {
                opacity: 1;
                transform: scale(1);
                margin-left: -14px;
            }
        }
    } */

    .scroll-down {
        width: 100%;
        position: absolute;
        bottom: 32px;
        left: 0;
        text-align: center;
        margin: 0 auto;

        a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            font-size: 20px;

            i {
                font-size: 14px;
            }
        }
    }

    .landing-wrap {
        width: calc(100% - 64px);
        padding: 0 32px;
        text-align: center;

        .logo {
            font-size: 80px;
            font-weight: normal;
            @media all and (min-width: 480px) {
                font-size: 100px;
            }
            @media all and (min-width: 640px) {
                font-size: 120px;
            }
        }

        .slogan {
            font-weight: 300;
            text-transform: lowercase;
            opacity: 0.6;
            font-size: 24px;
            margin-top: 24px;
            padding-bottom: 40px;
            position: relative;

            &::after {
                content: url(../img/landing-heart.svg);
                width: 24px;
                height: 20px;
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -12px;
            }
        }
    }
}

/* ----- Main ----- */
.main {
    max-width: 880px;
    margin: 0 auto;
    padding: 64px 32px;
    @media all and (min-width: 480px) {
        padding: 64px 40px;
    }

    h2 {
        font-size: 72px;
        text-transform: lowercase;
        text-align: center;
        line-height: 80%;

        @media all and (min-width: 640px) {
            font-size: 90px;
        }
    }

    .tips-container {
        position: relative;
        transition: opacity 300ms;

        .close {
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            top: -16px;
            right: -16px;
            font-size: 28px;
            text-align: center;
            line-height: 32px;
            color: #fff;
        }
    }
}

.tips {
    margin-top: 64px;
    overflow: hidden;

    @media all and (min-width: 640px) {
        width: 47.142857143%;
        // margin-left: 5.714285714%;

        &:nth-child(even) {
            float: left;
        }
        &:nth-child(odd) {
            float: right;
        }
    }
    @media all and (min-width: 768px) {
        width: 30.23255814%;
        margin-left: 4.6511627907%;
        float: left;
        &:nth-child(odd) {
            float: left;
        }

        &:nth-child(3n+1) {
            margin-left: 0 !important;
        }
        &:nth-child(2n+1) {
            margin-left: 4.6511627907%;
        }
    }
    @media all and (min-width: 960px) {
        width: 272px;
        margin-left: 32px;

        &:nth-child(3n+1) {
            margin-left: 0 !important;
        }
        &:nth-child(2n+1) {
            margin-left: 32px;
        }
    }

    .tips-poster {
        width: 100%;
        border-radius: 4px;
    }

    .tips-description {
        margin-top: 16px;

        h3 {
            font-size: 32px;
            text-align: center;
            font-weight: 600;

            span {
                font-size: 16px;
                font-weight: 300;
                font-style: italic;
            }
        }

        p {
            line-height: 150%;
            font-size: 18px;
            margin-bottom: 8px;
        }

        @media all and (min-width: 480px) {
            p {
                font-size: 20px;
            }
        }
    }

    .tips-add {
        width: 100%;
        height: 40px;
        display: block;
        color: #fff;
        text-decoration: none;
        background-color: #3d597d;
        border-bottom: 3px solid #2e4666;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        padding: 4px 0;
        border-radius: 6px;
        margin: 16px auto 0 auto;
        transition: opacity 300ms;
    }

    .tips-remove {
        width: 100%;
        height: 40px;
        display: block;
        color: #fff;
        text-decoration: none;
        background-color: #c0392b;
        border-bottom: 3px solid #9d271b;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        padding: 4px 0;
        border-radius: 6px;
        margin: 16px auto 0 auto;
        transition: opacity 300ms;
    }

    .tips-add, .tips-remove {
        &:hover {
            opacity: 0.8;
        }
    }
}

.notification {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    background-color: #27ae60;
    border-bottom: 3px solid #1b8347;
    padding: 24px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: lowercase;
    position: fixed;
    left: 0;
    top: -64px;
    opacity: 0;
    transition: all 300ms;

    &.active {
        top: 0;
        opacity: 1;
    }

    &.notification-warning {
        background-color: #f39c12;
        border-color: #d4880f;
    }

    &.notification-del {
        background-color: #e74c3c;
        border-color: #c6382a;
    }
}

/* ----- Search ----- */
form {
    overflow: hidden;
}
.search {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid transparentize(#fff, 0.9);
    margin-top: 64px;
    transition: border-color 400ms;
    border-radius: 0;

    &:focus {
        border-color: transparentize(#fff, 0.6);
    }
}

/* ----- No movies ----- */
.no-movies {
    margin-top: 32px;
    font-size: 24px;
    text-align: center;
    color: #666;

}

/* ----- Footer ----- */
.footer {
    padding: 0 2rem;
    margin-top: 32px;
    padding-bottom: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #666;
    font-size: 12px;
    line-height: 200%;

    span {
        display: none;
    }
    @media all and (min-width:480px) {
        span {
            display: inline;
        }

        br {
            display: none;
        }
    }

    i {
        color: #c94360;
    }

    a {
        color: #666;
        text-decoration: none;
        border-bottom: 1px solid #999;
        padding-bottom: 2px;
        transition: 300ms;

        &:hover {
            border-color: #ccc;
            color: #fff;
        }
    }
}

/* ----- Extras ----- */
.clear-both {
    clear: both;
    height: 0;
    overflow: hidden;
}
