@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
